@font-face {
    font-family: 'Nunito Sans';
    src: url('../assets/fonts/NunitoSans.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../assets/fonts/NunitoSans-Italic.ttf') format('truetype');
    font-style: italic;
}