html {
    font-size: 16px;
}
body {
    margin: 0;
}

h1, h2, h3, h4, h5, p, span, button, input, textarea, label {
    font-family: 'Nunito Sans';
    margin: 0;
}
h1, h2, h3, h4, h5 {
    font-style: italic;
    font-weight: 600;
}
h1 {
    font-size: var(--font-size-64);
}
h2 {
    font-size: var(--font-size-48);
}
h3 {
    font-size: var(--font-size-32);
}
h4 {
    font-size: var(--font-size-24);
}
h5 {
    font-size: var(--font-size-20);
}
p, input, textarea {
    font-size: var(--font-size-16);
}
span {
    font-size: var(--font-size-14);
}