@import '../../../app/styles/mixin.scss';

.label {
    width: 100%;
    display: flex;
    flex-direction: column;

    .textarea {
        @include input;
        resize: vertical;
        min-height: 100px;
    }
}